In [2]:
import pandas as pd 
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [23]:
# # # Import CSV
# data = pd.read_csv('CEDdata.csv')

In [24]:
# # Drop unnecessary columns
# data = data.drop(['Source Url', 'Preferred Citation', 'Accessed Date', 'Record Number', 'Local Month', 'Month', 'Year'], axis=1)

In [25]:
# data.head()

In [26]:
# data.dtypes

In [27]:
# # Rename columns
# data.columns = ['st_code', 'trans_name', 'st_name', 'SPEC', 'segspec_ct', 'segdist_sums', 'area_sums', 'density', 
#                 'log_density', 'dec_lat', 'dec_long', 'distance', 'date']

In [28]:
# # Get the list of individual group names
# orig_names=orig_data['SPEC'].unique().tolist()

In [29]:
# len(orig_names)

In [30]:
# # Convert date column to datetime format
# data['date'] = pd.to_datetime(data['date'])

In [31]:
# data.head()

In [32]:
# len(data)

In [33]:
# data.dtypes

In [34]:
# # Check for NaNs
# data.isnull().values.any()

In [35]:
# # Save smaller dataframe to CSV for use in PowerBI
# data.to_csv(r'CEDdata_clean.csv', index=False)

In [36]:
# # Get list of species codes
# list_of_species = data['SPEC'].to_list()

In [37]:
# # Remove duplicates
# list_of_species = list(set(list_of_species))

In [38]:
# list_of_species

In [39]:
# len(list_of_species)

In [40]:
# # Turn list into dataframe
# ced_species = pd.DataFrame(list_of_species, columns=['SPEC'])

In [59]:
ced_species.head(55)

    SPEC                COMMONNAME                       SCINAME
0   CAGU           California Gull            Larus californicus
1   PFSH    Pink-footed Shearwater             Ardenna creatopus
2   FTSP  Fork-tailed Storm-Petrel           Hydrobates furcatus
3   TOWA        Townsend's Warbler           Setophaga townsendi
4   BRAC        Brandt's Cormorant    Phalacrocorax penicillatus
5   UNGO        Unidentified Goose          Anserinae (gen. sp.)
6   WWSC       White-winged Scoter            Melanitta deglandi
7   UNSP      Unidentified Sparrow       Passerellidae (gen, sp)
8   BLBR               Black Brant    Branta bernicula nigricans
9   RHAU         Rhinoceros Auklet         Cerorhinca monocerata
10  COLO               Common Loon                   Gavia immer
11  WEGR             Western Grebe     Aechmophorus occidentalis
12  RNPH      Red-necked Phalarope            Phalaropus lobatus
13  BFAL    Black-footed Albatross          Phoebastria nigripes
14  POJA           Pomarine Jaeger        Stercorarius pomarinus
15  TUPU             Tufted Puffin           Fratercula cirrhata
16  UNDU         Unidentified Duck            Anatinae (gen, sp)
17  LESP      Leach's Storm-Petrel         Hydrobates leucorhous
18  GWGU      Glaucous-winged Gull             Larus glaucescens
19  RTLO         Red-throated Loon                Gavia stellata
20  SOSH          Sooty Shearwater                Ardenna grisea
21  WEGU              Western Gull            Larus occidentalis
22  CAAU           Cassin's Auklet       Ptychoramphus aleuticus
23  CATE              Caspian Tern            Hydroprogne caspia
24  HEEG           Heermann's Gull               Larus heermanni
25  SHSP     Stripe-headed Sparrow             Peucaea ruficauda
26  PALO              Pacific Loon                Gavia pacifica
27  GRSC             Greater Scaup                 Aythya marila
28  SAGU             Sabine's Gull                   Xema sabini
29  BRPE             Brown Pelican        Pelecanus occidentalis
30  PAJA          Parasitic Jaeger      Stercorarius parasiticus
31  REPH             Red Phalarope         Phalaropus fulicarius
32  PECO         Pelagic Cormorant       Phalacrocorax pelagicus
33  SUSC               Surf Scoter       Melanitta perspicillata
34  PAAU           Parakeet Auklet             Aethia psittacula
35  COTE               Common Tern                Sterna hirundo
36  COMU              Common Murre                    Uria aalge
37  BOGU          Bonaparte's Gull  Chroicocephalus philadelphia
38  RBME    Red-breasted Merganser               Mergus serrator
39  GBHE          Great Blue Heron                Ardea herodias
40  ARTE               Arctic Tern             Sterna paradisaea
41  RBGU          Ring-billed Gull            Larus delawarensis
42  PIGU          Pigeon Guillemot               Cepphus columba
43  HADU            Harlequin Duck     Histrionicus histrionicus
44  UNDO    Unidentified Dowitcher               Limnodromus sp.
45  DCCO  Double-crested Cormorant         Phalacrocorax auritus
46  NOFU           Northern Fulmar            Fulmarus glacialis
47  ANMU          Ancient Murrelet     Synthliboramphus antiquus
48  BRAN                     Brant               Branta bernicla
49  SPSK          South Polar Skua      Stercorarius maccormicki
50  MAMU          Marbled Murrelet      Brachyramphus marmoratus

In [42]:
# len(ced_species)

In [43]:
# # Import bird codes from CSV. Original source https://www.birdpop.org/pages/birdSpeciesCodes.php . Note that the species codes
# # represented in the CED data are for more than just birds. Codebook information needs to be found for the other codes.
# bird_codes = pd.read_csv('IBP-Alpha-Codes20.csv')

In [44]:
# bird_codes.head()

In [45]:
# # Drop the 6 -letter codes and related information as well as empty columns
# bird_codes = bird_codes.drop(['SP', 'CONF', 'SPEC6', 'CONF6'], axis=1)

In [46]:
# bird_codes.head()

In [47]:
# len(bird_codes)

In [48]:
# # Merge dataframes
# ced_species = ced_species.merge(bird_codes, on='SPEC')

In [49]:
# len(ced_species)

In [56]:
# ced_species.head(50)

In [51]:
# data = data.merge(ced_species, on='SPEC')

In [18]:
# len(data)

In [53]:
# # Save smaller dataframe to CSV for use in PowerBI
# data.to_csv(r'CEDdata_smol.csv', index=False)

In [3]:
# Import CSV
data = pd.read_csv('CEDdata_smol.csv')

In [4]:
data.head()

,trans_name,st_name,SPEC,segspec_ct,segdist_sums,area_sums,density,log_density,dec_lat,dec_long,distance,date
0,CR,CR20,POJA,0,8.117538,2.435261,0.0,0.0,46.163916,-124.453083,20,5/21/2003
1,CR,CR15,POJA,0,26.839530,8.051859,0.0,0.0,46.159334,-124.341831,15,5/21/2003
2,GH,GH06,POJA,0,10.340468,3.102140,0.0,0.0,47.004917,-124.329082,6,5/22/2003
3,GH,GH16,POJA,0,10.415742,3.124723,0.0,0.0,46.994583,-124.557667,16,5/22/2003
4,GH,GH21,POJA,0,9.750250,2.925075,0.0,0.0,46.991833,-124.695415,21,5/22/2003

In [6]:
# Sort the dataframe by station name
data.reset_index(inplace=True, drop=True)
data.sort_values(by='st_name', axis=0, inplace=True)
data.reset_index(inplace=True, drop=True)

# Set the index to station name and don't drop it
data.set_index(keys=['st_name'], drop=False,inplace=True)

# Get the list of individual station names
names=data['st_name'].unique().tolist()

# Change date to datetime
data['date'] = pd.to_datetime(data['date'])

In [8]:
len(names)

53

In [21]:
# Get the list of surveying transects
trans=data['trans_name'].unique().tolist()

In [22]:
len(trans)

9

In [9]:
# Get the list of bird species
species=data['SPEC'].unique().tolist()

In [10]:
len(species)

51

In [14]:
# Create dataframe dictionary with dataframes for each station
DataFrameDict_station = {elem : pd.DataFrame for elem in names}

for key in DataFrameDict_station.keys():
    DataFrameDict_station[key] = data[:][data.st_name == key]

In [15]:
# Create dataframe dictionary with dataframes for each station
DataFrameDict_species = {elem : pd.DataFrame for elem in species}

for key in DataFrameDict_species.keys():
    DataFrameDict_species[key] = data[:][data.SPEC == key]

In [11]:
# Can access individual dataframes for each station
# DataFrameDict['CR20']

In [17]:
comu = DataFrameDict_species['COMU']
sosh = DataFrameDict_species['SOSH']

In [19]:
comu.shape

(653, 12)

In [20]:
sosh.shape

(653, 12)